<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Home</title>
</head>
<body>
    <h1>Hola mundo</h1>

    
    <table class="table {{#if coloreado}}table-striped{{/if}}">
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Nombre</th>
          <th>Mensaje</th>
        </tr>
      </thead>
      <tbody>
        {{#each mensajes}}
            <tr>
                <td>{{fecha}}</td>
                <td>{{nombre}}</td>
                <td>{{mensaje}}</td>
            </tr>
        {{/each}}
      </tbody>
    </table>
</body>
</html>